asgiref==3.8.1
blinker==1.9.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Django==5.1.7
djangorestframework==3.15.2
Flask==3.1.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
k2-connect==1.2.6
loguru==0.7.3
MarkupSafe==3.0.2
python-dotenv==1.1.0
requests==2.32.3
routeros==0.1.1
RouterOS-api==0.21.0
setuptools==78.1.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.3.0
urlvalidator==0.1
Werkzeug==3.1.3
wheel==0.45.1
win32_setctime==1.2.0
