<!-- Tickets Component -->
<div class="card">
  <div class="card-header">
    <h5 class="card-title mb-0">Ticket Login</h5>
  </div>
  <div class="card-body">
    <!-- Ticket Login Form -->
    <form id="ticketLoginForm">
      <input
        type="hidden"
        id="macAddress"
        name="macAddress"
        value="{{ user_data.mac }}"
      />
      <input
        type="hidden"
        id="ipAddress"
        name="ipAddress"
        value="{{ user_data.ip }}"
      />
      <input
        type="hidden"
        id="linkOrig"
        name="linkOrig"
        value="{{ user_data.link_orig }}"
      />

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="ticketUsername">Ticket Username</label>
            <input
              type="text"
              class="form-control"
              id="ticketUsername"
              name="ticketUsername"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="ticketPassword">Ticket Password</label>
            <input
              type="password"
              class="form-control"
              id="ticketPassword"
              name="ticketPassword"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        Login with Ticket
      </button>
    </form>
  </div>
</div>

<!-- Success Modal -->
<div
  class="modal fade"
  id="successModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="successModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successModalLabel">Success</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="successMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Error Modal -->
<div
  class="modal fade"
  id="errorModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="errorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Error</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="errorMessage"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
